.contenedor {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.izquierda {
    padding: 20px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.derecha {
    padding: 20px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.titulito{
    color: tomato;
}